
{% include "letters/base.html" %}
{% if letters %}
<div id="sen-panel"></div>
<div id="wrapper_id" >
<table class="table table-striped font-italic text-center" style="margin:20px">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">date</th>
      <th scope="col">author</th>
    </tr>
  </thead>
  <tbody>
   {% for letter in letters %}
    <tr>
      <th scope="row">{{letter.id}}</th>
      <td><a href="{% url 'letters:letterDetail' letter.id%}">{{ letter.title }}</a></td>
      <td>{{letter.pub_date}}</td>
      <td>{{letter.pub_author.name}}</td>
    </tr>      
  {% endfor %}
  </tbody>
</table>
</div>
<div id="sen-nav"></div>
{% else %}
    <p>No letters are available.</p>
{% endif %}
<script type="text/javascript">
$(function(){
    $('#wrapper_id').senzill({
       nav: '#sen-nav', //The navbar id
       panel: '#sen-panel', //The panel id
    });
});
</script>
