{% include "letters/base.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="container-fluid text-monospace " >
<h1 class="text-center font-italic">Write a letter</h1>


<form action="{% url 'letters:sendLetter'%}" method="post">
{% csrf_token %}
    
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id = "title" placeholder="letter title">
    </div>

    <div class="form-group">
        <label for="context">context</label>
        <textarea class="form-control" name="letter_md" id="context" rows="14"  placeholder="use markdown if u like"></textarea>
    </div>



{% for author in authors %}
    <div class="form-check" style="margin:20px">
      <input class="form-check-input" type="radio" name="author_id" id="author{{ forloop.counter }}" value="{{ author.id }}">
      <label class="form-check-label" for="author{{ author.counter }}">{{ author.name }}</label>
    </div>
{% endfor %}
 
<input type="submit" class="btn btn-outline-primary" value="send">
</form>


</div>